<div class="sprint">
  <div class="sprint-title">Sprint 1</div>

  <div class="persons">
    <div class="person">
      <div class="title">
        Sergey Dzuba
      </div>
      <div class="tasks">
        <div class="task">
          Hello world!
        </div>
        <div class="task">
          Add tests
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sprint">
  <div class="sprint-title">Sprint 2</div>

  <div class="persons">
    <div class="person">
      <div class="title">
        Sergey Dzuba
      </div>
      <div class="tasks">
        <div class="task">
          Hello world!
        </div>
        <div class="task">
          Add tests
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sprint">
  <div class="sprint-title">
    <span class="sprint-add">Add new sprint</span>
  </div>
</div>

<div class="add-person">Add new person</div>